<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>添加物品</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>添加物品</h2>
    <form method="post">
        <label for="name">物品名稱:</label>
        <input type="text" name="name" required>
        <label for="庫存">庫存:</label>
        <input type="number" name="庫存" required>
        <label for="price">價格:</label>
        <input type="number" step="0.01" name="price" required>
        <button type="submit">添加物品</button>
    </form>
</body>
</html>
